.DS_Store
*.pyc
*.egg-info
*.swp
tags
excel_restaurant_pos/docs/current
node_modules/
excel_restaurant_pos/public/portal
excel_restaurant_pos/public/node_modules
excel_restaurant_pos/www/restaurant.html
*.env